
.section-header {
    font-weight: bold;
    text-align: center;
    color: #555;
    margin: 0.1rem 0;
    list-style: none;
}
ol, ul {
    padding-left: 0.2rem;

}
.online-list {
    scrollbar-width: thin;
    scrollbar-color: #202225 #2b2d31;
}
