@using iChat.Client.DTOs.Chat
@using iChat.Client.Services.UserServices.Chat
@inject UserMetadataService _userMetadataService

@code {
    [Parameter] public long UserId { get; set; }
    [Parameter] public bool IsOnline { get; set; }

    private UserMetadataReact? _userMeta;

    protected override async Task OnParametersSetAsync()
    {
        _userMeta =  _userMetadataService.GetUserByIdAsync(UserId);
        _userMeta.RegisterOnChange(() => InvokeAsync(StateHasChanged));
    }

}

@if (_userMeta is not null)
{
    <li class="user-entry @(IsOnline ? "online" : "offline")">
        <div class="message">
            <img class="avatar" src="@_userMeta.AvatarUrl" alt="avatar" />
            <div>
                <div class="chat-message-meta">
                    <span class="username">@_userMeta.DisplayName</span>
                </div>
                <div class="message-content placeholder">
                    This user is currently @(IsOnline ? "online" : "offline")
                </div>
            </div>
        </div>
    </li>
}
