@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome, @Model.Username!</h1>

@if (Model.Username == "Guest")
{
    <p>You are not logged in. <a href="/User/Login">Login here</a>.</p>
}
