@inherits LayoutComponentBase
@layout BaseLayout

<div class="app-container">
    <div class="sidebar-container">
        <NavMenu />
    </div>
    <main class="main-content">
        @Body
    </main>
</div>

<style>

</style>