
.channel-list {
    padding: 0;
}

.channel-item {
    padding: 5px 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 8px;
}

    .channel-item:hover {
        background-color: #3a3c43;
        color: white;
    }

.channel-prefix {
    margin-right: 8px;
    color: #8e9297;
}

.channel-item.active {
    background-color: #404249;
    color: white;
}

.channel-name {
    font-size: 14px;
}

.channel-sidebar-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}

.channel-sidebar {
    width: 240px;
    resize: horizontal;
    overflow: auto;
    background-color: #2b2d31;
    color: #b9bbbe;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 52px;
    box-sizing: border-box;
}

.channel-scrollable {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 52px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #202225 #2b2d31;
}

.add-channel {
    color: #8e9297;
}

    .add-channel:hover {
        background-color: transparent;
        color: #dcddde;
    }
